<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostAddress" value="mcoffi@onelogic.fr" />
    <add key="ClientInfo" value="C:\GmailApi\ClientCredentials\code_secret_client.json" />
    <add key="CredentialsInfo" value="C:\GmailApi\CredentialInfo\" />
    <add key="GmailAttach" value="G:\Mon Drive\Factures_AutoImport\" />
  </appSettings>
</configuration>